<span class="ion ion-md-attach"></span>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<app-side-bar></app-side-bar>
<div *ngIf="isError; else b">
  error message: {{errorMessage}}
</div>
<ng-template #b>
  <div *ngIf="isLoggedIn; else loggedOut">
    <div class="container">
      <div class="chats">

        <!--header-->
        <div class="header">
          <div class="userImg">
            <img src="" class="cover">
          </div>
          <ul class="nav_icons">
            <li>
              <ion-icon name="scan-circle-outline"></ion-icon>
            </li>
            <li>
              <ion-icon name="chatterbox"></ion-icon>
            </li>
            <li>

              <ion-icon name="cog-outline"></ion-icon>

            </li>
          </ul>
        </div>

        <!--search-->
        <div class="search_chat">
          <div>
            <input type="text" placeholder="Search..."/>
            <ion-icon name="search-outline"></ion-icon>
          </div>
        </div>

        <!--chat list-->
        <div *ngFor=" let message of lastMessages">
          <div class="chatList">
            <div class="block active" routerLink="/chat/{{message.usernameCompanion}}" [queryParams]="{
                          chatId : message.chat_id,
                          firstNameCompanion : message.firstNameCompanion,
                          lastNameCompanion : message.lastNameCompanion
                      }" routerLinkActive="active">
              <div class="img-bx">
                <img src="" class="cover">
              </div>
              <div class="details">
                <div class="listHead">
                  <h4 routerLink="/profile/{{message.usernameCompanion}}"
                      routerLinkActive="active">{{getName(message.chatName, message.firstNameCompanion, message.lastNameCompanion)}}</h4>
                  <div class="time">{{ message.date | date:'dd-MM-yyyy:HH:mm:ss'}}</div>
                </div>
                <div class="message_p">
                  <p>{{message.message}}<p>
                    <b>1</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #loggedOut>
  Авторизуйтесь!
</ng-template>
