<app-side-bar></app-side-bar>

<div *ngIf="isLoggedIn; else loggedOut">

  <div class="container">
    <div class="row">
      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true"></i>
          <p class="name">{{last_and_first_Name}}</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="messages-chat">
          <div *ngFor=" let message of messages">
            <div class="message">
              <div class="photo"
                   style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
                <div *ngIf="printOnline(message.from, isCompanionOnline)">
                  <div class="online"></div>
                </div>
              </div>
              <p [ngClass]="{'text': message.from == usernameCompanion,
                                      'text2': message.from !== usernameCompanion }">
                {{message.message}}
              </p>
            </div>
            <p class="time"> {{ message.date | date :'shortTime'}}</p>
          </div>
        </div>

        <div class="footer-chat">
          <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
          <div *ngIf="isNewChat; else oldChat">
            <input (keyup.enter)="sendNewMessage()" type="text" [(ngModel)]="message" class="write-message"
                   placeholder="1 Type your new message here"/>
          </div>
          <ng-template #oldChat>
            <input (keyup.enter)="sendMessage()" type="text" [(ngModel)]="message" class="write-message"
                   placeholder="2 Type your message here"/>

          </ng-template>

          <i class="icon send fa fa-paper-pl ane-o clickable" aria-hidden="true"></i>
        </div>
      </section>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Авторизуйтесь!
</ng-template>
